<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.localhop"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-sdk android:minSdkVersion="16"
            android:targetSdkVersion="21"/>
    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@android:style/Theme.Holo.Light">
        <activity
                android:name=".activities.ActivityMain"

            android:theme="@style/MyCustomTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.account.ActivityAccountLogin"/>
        <activity android:name=".activities.account.ActivityAccountName"/>
        <activity android:name=".prefs.PrefsActivity"/>
        <activity android:name=".activities.event.ActivityTabCreateEvent"/>
        <activity android:name=".activities.event.ActivityTabEventList"/>
        <activity android:name=".activities.ActivityTabUserManage"/>
        <activity android:name=".activities.ActivityTabMap"/>
        <activity android:name=".activities.event.ActivityEventSelection"/>

        <meta-data android:name="com.google.android.gms.version"
                   android:value="6171000" />
    </application>
</manifest>
