<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.localhop"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <uses-sdk android:minSdkVersion="16"
              android:targetSdkVersion="22"/>
    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@android:style/Theme.Holo.Light"
            android:hardwareAccelerated="true" >

        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="
AIzaSyB2u80u7Z4Pz-JHQ9pJKnN3hin6NRjb6Ys" />

        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />

        <activity
                android:name=".activities.ActivityMain"
                android:theme="@style/MyCustomTheme">
            <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.account.ActivityAccountLogin"/>
        <activity android:name=".activities.account.ActivityAccountName"/>
        <activity android:name=".prefs.PrefsActivity"/>
        <activity android:name=".activities.event.ActivityTabCreateEvent"/>
        <activity android:name=".activities.event.ActivityTabEventList"/>
        <activity android:name=".activities.ActivityTabUserManage"/>
        <activity android:name=".activities.ActivityTabMap"/>
        <activity android:name=".activities.event.ActivityEventSelection"/>
        <activity android:name=".activities.map.MapWibble"/>


    </application>
</manifest>
